#menu-icon {
  position: fixed;
  z-index: 100;
  width: 10vh;
  height: 10vh;
  overflow: visible;
  background-color:#FFDB4D;
  border-radius: 0 0 100% 0;;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5); 
  cursor: pointer;
  
  text-align: left;
  font-size: 7vh;
  line-height: 7vh;
  color: rgba(255,255,255,1);
}

#menu-icon i {
  margin-left: 1vh;
  margin-top: 0.5vh;
}

#menu-icon, #menu-icon i {
  transition: transform 250ms;  
  transform-origin: 0 0;
  transform-origin: top left;
}

#menu-icon:hover, #menu-icon:focus {
  animation: pulse 250ms;
  outline-style: none;
}

#menu-icon:hover i, #menu-icon:focus i {
  transition-delay: 250ms;
  transform: scale(1.25);
}

#menu {
  opacity: 0;
  position: fixed;
  pointer-events: none;
  z-index: 98;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.85);
  transition: all .2s ease;
}

.menu-item {
  position: absolute;
  color: #fff;
  font-size: 6vh;
  opacity: 0;
  z-index: 99;
  margin-left: -101%;
  height: 10vh;
  line-height: 10vh;
  transition: margin-left .25s ease-out, opacity .25s ease;
}

.menu-item:hover {
  text-decoration: none;
  color: #FFDB4D;
  cursor:pointer;
}

#menu-icon:focus + #menu {
  opacity: 1;
}

#menu-icon:focus + #menu .menu-item {
  opacity: 1;
  margin-left: 3.5vh;
}

#menu .menu-item:nth-of-type(1) {
  top: 10vh;
}

#menu .menu-item:nth-of-type(2) {
  top: 20vh;
}

#menu .menu-item:nth-of-type(3) {
  top: 30vh;
}

#menu .menu-item:nth-of-type(4) {
  top: 40vh;
}

#menu .menu-item:nth-of-type(5) {
  top: 50vh;
}

#menu-icon:focus + #menu .menu-item:nth-of-type(2) {
  transition-delay: 50ms;
}

#menu-icon:focus + #menu .menu-item:nth-of-type(3) {
  transition-delay: 100ms
}

#menu-icon:focus + #menu .menu-item:nth-of-type(4) {
  transition-delay: 150ms
}

#menu-icon:focus + #menu .menu-item:nth-of-type(5) {
  transition-delay: 200ms
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}